:root {
    --violet: rgb(65, 42, 107);
    --yellow: #fadb61;
    --gray: #f8f8f8;
}
.navbar {
    background: var(--violet) !important;
}
.carousel-caption {
    bottom: 30%;
}
h2::after {
    display: block;
    content: "";
    height: 8px;
    width: 150px;
    background: var(--yellow);
    margin: 30px auto 0 auto;
}
.about img {
    border-radius: 30px;
}